In [16]:
# import packages
import pandas as pd
import numpy as np

In [17]:
# read files
rheas_chirps= pd.read_csv('data/rheas/maize_zmb_n_25_chirps_cul1_fertilizer50.csv')

In [18]:
# convert columns to lower and cname names
rheas_chirps.columns=rheas_chirps.columns.str.lower()


rheas_chirps['cname']=rheas_chirps['cname'].str.lower()
rheas_chirps['cname']=rheas_chirps['cname'].str.strip()
rheas_chirps['cname']=rheas_chirps['cname'].str.replace('-', '', regex=True)

In [19]:
# convert dates and calculate yield
rheas_chirps['planting']=pd.to_datetime(rheas_chirps['planting'], format='ISO8601')
rheas_chirps['harvest']=pd.to_datetime(rheas_chirps['harvest'], format='ISO8601')
rheas_chirps['harvest']=pd.to_datetime(rheas_chirps['harvest'], format='ISO8601')
rheas_chirps['year'] = rheas_chirps['planting'].dt.year
rheas_chirps['year'] = rheas_chirps['planting'].dt.year
rheas_chirps['yield']=rheas_chirps['gwad']/1000

                cname   planting    harvest   lai  wsgd  gwad  year  yield
0          kanchibiya 1998-01-01 1998-05-11  0.45   0.0  3751  1998  3.751
1               kaoma 1998-01-01 1998-05-11  0.45   0.0  3752  1998  3.752
2             kabompo 1998-01-01 1998-05-11  0.45   0.0  3753  1998  3.753
3       kapiri mposhi 1998-01-01 1998-05-11  0.45   0.0  3751  1998  3.751
4             chipili 1998-01-01 1998-05-11  0.45   0.0  3751  1998  3.751
...               ...        ...        ...   ...   ...   ...   ...    ...
163795        nakonde 2017-01-09 2017-05-24  0.42   0.0  4372  2017  4.372
163796        nakonde 2017-01-10 2017-05-26  0.43   0.0  4525  2017  4.525
163797        nakonde 2017-01-10 2017-05-26  0.43   0.0  4529  2017  4.529
163798        nakonde 2017-01-12 2017-05-27  0.42   0.0  4484  2017  4.484
163799        nakonde 2017-01-12 2017-05-27  0.42   0.0  4486  2017  4.486

[163800 rows x 8 columns]